<h1>{{abbrev}}</h1>
<dl class="dl-horizontal">
    <dt>Code</dt>
    <dd>{{code}}</dd>
    <dt>Abbreviation</dt>
    <dd>{{abbrev}}</dd>
    <dt>Description</dt>
    <dd>{{desc}}</dd>
    {{#if 'isSuffix'}}
        <dt>Suffix</dt>
        <dd>True, <em>{{abbrev}}</em> is a suffix.</dd>
    {{/if}}
    {{#if 'isCotsCourse'}}
        <dt>COTS Course</dt>
        <dd>True, <em>{{abbrev}}</em> is a COTS course.</dd>
    {{/if}}
    {{#if 'suffixes'}}
        <dt>Suffixes</dt>
        <dd>
            {{#each suffix in suffixes}}
                {{#link-to 'items.detail' suffix}}{{suffix.abbrev}} ({{suffix.code}}){{/link-to}}<br/>
            {{/each}}
        </dd>
    {{/if}}
</dl>
{{outlet}}
