<div class="row">
    <div class="col-sm-12">
        <h1>
            WBS List
            {{#link-to 'items.new' class='btn btn-primary pull-right'}}
                <span class="glyphicon glyphicon-plus"></span> New WBS
            {{/link-to}}
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th>Code</th>
                <th>Abbreviation</th>
                <th>Description</th>
                <th>Suffix</th>
                <th>COTS</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#each}}
                {{#link-to 'items.detail' this tag='tr' class='item-detail-link'}}
                    <td>{{code}}</td>
                    <td>{{abbrev}}</td>
                    <td>{{desc}}</td>
                    <td>
                        {{#if isSuffix}}
                            <span class="glyphicon glyphicon-check"></span>
                        {{/if}}
                    </td>
                    <td>
                        {{#if isCotsCourse}}
                            <span class="glyphicon glyphicon-check"></span>
                        {{/if}}
                    </td>
                    <td>
                        <button {{action 'remove' this}} {{bind-attr title='deleteText'}}
                                class="btn btn-danger btn-sm pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                    <td>
                        <button {{action 'gotoEdit' this}} {{bind-attr title='editText'}}
                                class="btn btn-default btn-sm pull-right">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </td>
                {{/link-to}}
            {{/each}}
            </tbody>
        </table>
    </div>
</div>