<form class="form-horizontal" role="form">
    <div class="col-sm-offset-2">
        <h1>New WBS Code</h1>
    </div>
    <div class="form-group">
        <label for="wbs-code" class="control-label col-sm-2">Code</label>

        <div class="col-sm-2">
            {{input type="text" class="form-control" id="wbs-code" placeholder="C04416" tabindex="1" autofocus="true" value=code}}
        </div>
    </div>
    <div class="form-group">
        <label for="wbs-short" class="control-label col-sm-2">Short Description</label>

        <div class="col-sm-2">
            {{input type="text" class="form-control" id="wbs-short" placeholder="ARC4" tabindex="2" value=abbrev}}
        </div>
    </div>
    <div class="form-group">
        <label for="wbs-long" class="control-label col-sm-2">Long Description</label>

        <div class="col-sm-8">
            {{input type="text" class="form-control" id="wbs-long" tabindex="3" placeholder="ArcGIS 4: Sharing Content on the Web" value=desc}}
        </div>
    </div>
    <div class="form-group">
        <label for="is-suffix" class="control-label col-sm-2">WBS code suffix</label>

        <div class="col-sm-8">
            {{input type='checkbox' class='glyphicon glyphicon-unchecked' id='is-suffix' tabindex='4' checked=isSuffix}}
        </div>
    </div>
    <div class="form-group">
        <label for="is-cots" class="control-label col-sm-2">COTS Course</label>
        <div class="col-sm-8">
            {{input type='checkbox' class='glyphicon glyphicon-unchecked' id='is-cots' tabindex='4' checked=isCotsCourse}}
        </div>
    </div>
    <div class="col-md-offset-2">
        <buton type="button" {{action 'cancel' model}} class="btn btn-default">
            <span class="glyphicon glyphicon-remove-circle"></span> Cancel
        </buton>
        <button type="submit" {{action 'save' model}} class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span> Save
        </button>
    </div>
</form>
{{outlet}}