<div class="row">
    <div class="col-sm-12">
        <h1>
            WBS List
            {{#link-to 'new' class='btn btn-primary pull-right'}}
                <span class="glyphicon glyphicon-plus"></span> New WBS
            {{/link-to}}
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Code</th>
                <th>Abbreviation</th>
                <th>Description</th>
                <th>Suffix</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#each}}
                <tr {{bind-attr class="isSuffix:active"}}>
                    <td>{{code}}</td>
                    <td>{{abbrev}}</td>
                    <td>{{desc}}</td>
                    <td>
                        {{#if isSuffix}}
                            <span class="glyphicon glyphicon-check"></span>
                        {{else}}
                            <span class="glyphicon glyphicon-unchecked"></span>
                        {{/if}}
                    </td>
                    <td>
                        {{#link-to 'edit' this tagName='button' class='btn btn-default btn-sm pull-right'}}
                            <span class="glyphicon glyphicon-edit"></span> Edit
                        {{/link-to}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>